  <div class="container-fluid">
    <p class="display-3 font-weight-normal font-t my-5 text-center" i18n>Come è iniziato tutto</p>
    <img src="../../../assets/images/inizio.jpg" class="img-fluid">

    <div class="mt-5 mb-md-5 py-4">
      <p class="h1 font-t font-weight-normal font-weight-normal text-center">«Ci piace viaggiare e scoprire<br class="d-sm-none"> posti nuovi»</p>
    </div>

    <div class="row p-3 pb-5 p-md-5">
      <div class="col-12 col-md-6 mb-3">
        <img src="../../../assets/images/gabriele.jpg" class="img-fluid" width="900" height="900">
      </div>
      <div class="col-12 col-md-6 mb-3">
        <img src="../../../assets/images/viola.jpg" class="img-fluid" width="900" height="900">
      </div>
    </div>


    <div class="row py-5 bg-light p-3 p-md-5">
      <div class="col-12 mt-md-4 mb-4">
        <p class="h1 font-t font-weight-normal font-weight-normal text-center">«Amiamo le mangiate e le bevute»</p>
      </div>
      <div class="col-12 col-md-6 p-lg-5 mb-4">
        <img src="../../../assets/images/IMG_0966.JPEG" class="img-fluid" width="800" height="1000">
      </div>
      <div class="col-12 col-md-6 p-lg-5">
        <p class="h5 line-height-35 font-weight-normal px-lg-4" i18n>Viola e Gabriele si sono conosciuti a Pavia in collegio mentre Viola e gli amici impastavano la pizza. Così fra una fetta di qua e una festa di là la loro amicizia si è trasformata in qualcosa di più. Dopo dieci anni passati insieme anche se separati dalla distanza, sono finalmente pronti a fare il grande passo e a festeggiare con voi il giorno più bello.</p>
      </div>
    </div>

    <div class="row py-5 my-5 p-3 p-md-5">
      <div class="col-12 col-lg-4 mb-3">
        <img src="../../../assets/images/gallery1.jpg" class="img-fluid" width="800" height="1000">
      </div>
      <div class="col-12 col-lg-4 mb-3">
        <img src="../../../assets/images/gallery2.jpg" class="img-fluid" width="800" height="1000">
      </div>
      <div class="col-12 col-lg-4 mb-3">
        <img src="../../../assets/images/gallery3.jpg" class="img-fluid" width="800" height="1000">
      </div>
    </div>
  </div>

