<app-header ></app-header>

<div class="container-fluid">
    <p class="display-3 font-weight-normal font-t my-5 text-center" i18n>Come è iniziato tutto</p>
    <img src="../../../assets/images/IMG_0603a.jpg" class="img-fluid">  

    <div class="my-5">
        <p class="h1 font-t font-weight-normal font-weight-normal col-12 col-lg-10">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Morbi venenatis sem ut velit venenatis, sed suscipit sem ullamcorper ut velit venenatis. Morbi venenatis sem ut velit venenatis."</p>
    </div>

    <div class="row py-5 p-5">
        <div class="col-12 col-md-6 p-lg-5">
            <img src="../../../assets/images/img-verticale.jpg" class="img-fluid" width="800" height="1000">
        </div>
        <div class="col-12 col-md-6 p-lg-5">
            <p class="h3 font-weight-normal px-lg-4" i18n>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis sem ut velit venenatis, sed suscipit sem ullamcorper ut velit venenatis. Morbi venenatis sem ut velit venenatis.</p>
        </div>
    </div>

    <div class="my-5 text-center">
        <p class="display-5 font-t mb-4">E il resto è storia</p>
        <p class="h4 font-weight-normal font-weight-normal col-12 col-lg-8 mx-auto">"Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             Morbi venenatis sem ut velit venenatis, sed suscipit sem ullamcorper ut velit venenatis. Morbi venenatis sem ut velit venenatis."</p>
    </div>

    <div class="my-5 text-center font-t display-2">Slide o solo 3 foto?</div>

</div>


<!-- footer -->
<div class="bg-footer">
    <div class="container-fluid text-center py-5">
        footer
    </div>
</div>