@import "mobile.scss";

.header-container {
  background: black;
  height: 15vh;
  width: 100%;
  margin: 0;
}
.header-title-text {
  font-family: orpheus-pro ;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.4em;
  font-size: 2rem;
  color: white!important;
}

.title-container {
  width: 100%;
  text-align: center;
  position: absolute;
}

.link-container {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.rsvp-button {
  width: 5rem;
  height: 3rem;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  text-align: end;
}
mat-icon {
  color: white;
}
