  <main>
    <div class="container-fluid ">

      <p class="display-4 font-weight-normal font-t my-2 text-center p-3" i18n>Come arrivare a Ozieri?</p>
      <p class="display-6 font-t p-2 flow-text text-start ms-2" i18n>Per nave dai porti di</p>

      <mat-list role="list">
        <mat-list-item role="listitem"><strong class="me-1">Olbia:</strong><a href="http://www.adspmaredisardegna.it/olbia/">Vai al sito</a></mat-list-item>
        <mat-list-item role="listitem"><strong class="me-1">Porto Torres:</strong><a href="http://www.adspmaredisardegna.it/porto-torres/ ">Vai al sito</a></mat-list-item>
        <mat-list-item role="listitem"><strong class="me-1">Golfo Aranci:</strong><a href="http://www.adspmaredisardegna.it/golfo-aranci/">Vai al sito</a></mat-list-item>
      </mat-list>

      <p class="display-5 font-t p-2 flow-text text-start ms-2 my-0" i18n>Tramite aereo dagli aeroporti di</p>
      <mat-list role="list">
        <mat-list-item role="listitem"><strong class="me-1">Alghero “Riviera del Corallo”:</strong><a href="https://www.aeroportodialghero.it/en/">Vai al sito</a></mat-list-item>
        <mat-list-item role="listitem"><strong class="me-1">Olbia “Costa smeralda”:</strong><a href="https://www.geasar.it/">Vai al sito</a></mat-list-item>
      </mat-list>




      <p class="display-4 font-weight-normal font-t my-2 text-center p-3" i18n>Dove alloggiare?</p>

      <div class="text-home">
        <p class="font-t p-2 flow-text" i18n>Ozieri e dintorni offrono una vasta scelta di B&amp;B e hotel</p>

        <div class="address-container d-sm-block d-sm-flex">
          <address class="p-3">
            <strong>JANAS HOTEL </strong><br>
            <a href="https://www.janashotel.it/janas">Vai al sito</a><br>
            Strada Provinciale 63 (Chilivani – Mores), km 7.1<br>
            tel. 0797079916<br>
            janashotel@tiscali.it<br>
          </address>

          <address class="p-3">
            <strong>HOTEL “TERRADORO”</strong><br>
            <a href="https://www.ristoranteterradoro.com">Vai al sito</a><br>
            Strada Provinciale Ozieri-Chilivani, km 5<br>
            tel. 079758904<br>
            rossanaboe@tiscali.it<br>
          </address>

          <address class="p-3">
            <strong>IL GIARDINO DEGLI ARANCI</strong><br>
            <a href="https://www.ilgiardinodegliaranci.eu/">Vai al sito</a><br>
            Via S. Giovanni, 37, 07013 Mores<br>
            info@ilgiardinodegliaranci.eu<br>
          </address>
        </div>

        <p class="display-6  font-t p-2 flow-text" i18n>Bed & Breakfast Affittacamere</p>
        <div class="address-container d-sm-block d-sm-flex">
          <address class="p-3">
            <strong>B&B MONTIJU</strong><br>
            <a href="http://www.montiju.it/">Vai al sito</a><br>
            via Alessandro Volta, 11<br>
            tel. 349 8168877<br>
            montiju@libero.it<br>
          </address>


          <address class="p-3">
            <strong>B&b CASA D'ARTISTA</strong><br>
            <a href="http://www.bbcasadartista.it">Vai al sito</a><br>
            loc Sa Cuighina (Reg. Sos Ortos)<br>
            tel. 339 1333188, 079 786281<br>
            dsquintu63@tiscali.it<br>
          </address>

          <address class="p-3">
            <strong>B&B AMARIGLIO</strong><br>
            <a href="http://www.amarigliobb.com">Vai al sito</a><br>
            piazza San Sebastiano, 3<br>
            tel. 346 3031575<br>
            amarigliobb@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B SANTU LARENTU</strong><br>
            <a href="https://hotelmania.net/hotel/ozieri/bb-santu-larentu">Vai al sito</a><br>
            regione San Lorenzo<br>
            tel. 348 3834767, 079 788113<br>
            monser_t@yahoo.it<br>
          </address>

          <address class="p-3">
            <strong>B&B SALIGHES</strong><br>
            <a href="http://www.bedandbreakfastozieri.it/">Vai al sito</a><br>
            regione Salighes<br>
            tel. 328 6114679<br>
            bbsalighes@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B CARRU DE AMMENTOS</strong><br>
            <a href="https://hotelmania.net/hotel/ozieri/carru-de-ammentos/">Vai al sito</a><br>
            via Roma 24<br>
            tel. 340 1386966<br>
            carrudeammentos@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B DUOS APPOSENTOS</strong><br>
            <a href="http://www.duosapposentos.it/">Vai al sito</a><br>
            via Umberto I 27<br>
            tel.347 6898522, 338 6406960<br>
            gelatajo@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B TRAMENTU</strong><br>
            <a href="https://hotelmania.net/hotel/ozieri/bb-tramentu/">Vai al sito</a><br>
            loc. Tramentu<br>
            tel. 392 0487720<br>
            tramentu@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B DAL CARDINALE</strong><br>
            Via Cardinal Pompedda 8<br>
            tel. 347 0610520, 328 4564511<br>
            bebdalcardinale@gmail.com<br>
          </address>

          <address class="p-3">
            <strong>B&B LA CASA SUI TETTI</strong><br>
            <a href="https://www.mammainsardegna.com/bed-breakfast-a-ozieri-la-casa-sui-tetti">Vai al sito</a><br>
            Via Monserrato 16<br>
            tel. 345 0631855<br>
            casasuitettiozieri@yahoo.com <br>
          </address>

          <address class="p-3">
            <strong>AFFITTACAMERE IN CENTRO</strong><br>
            Via Mercato 3<br>
            tel. 347 0907024<br>
            paololuridiana@tiscali.it<br>
          </address>

          <address class="p-3">
            <strong>B&B ANTICO PODERE</strong><br>
            Località Rizzolu<br>
            tel. 349 09833131<br>
          </address>

          <address class="p-3">
            <strong>B&B SUELZU</strong><br>
            <a href="http://www.duosapposentos.it/">Vai al sito</a><br>
            località Suelzu<br>
            tel. 349 8759819<br>
            suelzubb.gm@gmail.com<br>
          </address>

          <address class="p-3 flex-grow-0">
            <strong>CASA VACANZE “MONTEINNI”</strong><br>
            <a href="http://www.monteinni.it">Vai al sito</a><br>
            località Monte Inni<br>
            tel. 3470907024 <br>
            paololuridiana@tiscali.it<br>
          </address>
        </div>
      </div>

    </div>
  </main>
