<div class="bg-dark bg-opacity-10 row w-100 m-0 backoffice-container">

  <div class="bg-white total-card p-2 col-1 text-center">
    <h3><strong>Totale conferme:</strong>{{" " +totalConfirms}}</h3>
    <h3><strong>Totale bambini:</strong>{{" " +totalChildren}}</h3>
  </div>
  <div class="col mt-2">
    <div class="w-100 d-flex flex-wrap">
      <div *ngFor="let invite of invites" class="invite-card p-3 position-relative">
        <div class="card shadow-sm">
          <div class="rounded-circle  delete-icon shadow-sm" (click)="openDialog(invite)">
            <mat-icon>delete</mat-icon>
          </div>
          <div class="row">
            <div class="col-6">
              <p><strong>Nome:</strong>{{" " +invite.name}}</p>
              <p><strong>Cognome:</strong>{{" " +invite.surname}}</p>
              <p><strong>Conferma:</strong><span [ngClass]="invite.confirm? 'text-success':'text-danger'" class="fw-bold">{{" " +yesOrNo(invite)}}</span></p>
              <p *ngIf="invite.questions" ><strong>Domande:</strong>{{" " +invite.questions}}</p>

            </div>
            <div class="col-6">
              <p *ngIf="invite.participants && invite.participants.length>0">
              <div class="d-flex mt-3">
                <strong class="me-2">Partecipanti:</strong>
                <div>
                  <p *ngFor="let participant of invite.participants" class="m-0 text">{{participant.name + " "+ participant.surname}}</p>
                </div>
              </div>
              <p class="ms-0"><strong>Bambini:</strong>{{" " +countChildren(invite.participants? invite.participants : [])}}</p>
              <p *ngIf="invite.allergies" class="ms-0"><strong>Restrizioni alimentari:</strong>{{" " +invite.allergies}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

