.invites-container {
  width: 100%;
}
.form-container {
  min-height: 100%;
}

mat-form-field {
  margin-bottom: 0.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@media (min-width: 1000px) {

  .more-field {
    width: 50%;
  }

  .invites-container {
    max-width: 50%;
  }
}
