.invites-container {
  max-width: 50%;
}
form {
  height: fit-content;
}
mat-form-field {
  margin-bottom: 0.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
