/*.container-fluid {
    max-width: 1380px;
}*/
.font-weight-normal {
    font-weight: normal;
}

.img-home {
    background-image: url(../../../assets/images/IMG_0577.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
}

.text-home {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 35vh;
}
.text-home p{
    text-shadow: 5px 2px 10px #000000;
}



@media (max-width: 600px) {
    .img-home {
        background-size: cover;
        height: 400px;
        background-position-y: 0;
    }
    .text-home {
        text-align: center;
        color: white;
        position: absolute;
        width: 100%;
        top: 150px;
    }
}


@media (min-width: 1200px) {
    .img-home .display-1{
        font-size: 7rem;
    }
    .img-home {
        background-position-y: -170px;
    }
}
