/*.container-fluid {
    max-width: 1380px;
}*/
.font-weight-normal {
    font-weight: normal;
}

.img-home {
    background-image: url(../../../assets/images/IMG_0577.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 112vh;
    background-position-y: -170px;
}

.text-home {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 35vh;
}
.text-home p{
    text-shadow: 5px 2px 10px #000000;
}
google-map {
  width: 800px;
  height: 1000px;
}
