<app-header [screenSize]="screenType"></app-header>

<div class="img-home">
    <div class="text-home">
        <p class="h3 font-weight-normal">Ci sposiamo!</p>
        <p class="display-2 font-weight-normal py-4 font-t">Viola e Gabriele</p>
        <p class="h3 font-weight-normal">17/07/22</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row align-items-center py-5 text-center p-5">
        <div class="col-12 col-md-6 p-lg-5">
            <img src="../../../assets/images/img-verticale.jpg" class="img-fluid" width="800" height="1000">
        </div>
        <div class="col-12 col-md-6 p-lg-5">
            <p class="display-3 font-weight-normal font-t mb-5">Cerimonia</p>
            <p class="h3 font-weight-normal mb-4">orario</p>
            <p class="h4 font-weight-normal">indirizzo</p>
        </div>
    </div>

    <div class="row align-items-center py-5 text-center p-5">
        <div class="col-12 col-md-6 p-lg-5">
            <p class="display-3 font-weight-normal font-t mb-5">Ricevimento</p>
            <p class="h3 font-weight-normal mb-4">orario</p>
            <p class="h4 font-weight-normal">indirizzo</p>
        </div>
        <div class="col-12 col-md-6 p-lg-5">
            <img src="../../../assets/images/img-verticale.jpg" class="img-fluid" width="800" height="1000">
        </div>
    </div>
</div>

<div class="container-fluid text-center py-5">
    <p class="display-4 font-t my-5">Scopri come è iniziato tutto</p>
    <a href="#" class="btn btn-color px-5">La nostra storia</a>
</div>

<div class="container-fluid text-center py-5">
    <div class="m-lg-5 bg-light d-flex align-items-center justify-content-center" style="height:500px;">
        <div class="py-5">
            <p class="h2 font-weight-normal">Festeggia con noi!</p>
            <p class="display-2 font-weight-normal py-4 font-t">Conferma la tua presenza</p>
            <a href="#" class="btn btn-color px-5">Conferma qui</a>
        </div>
    </div>
</div>


<!-- footer -->
<div class="bg-footer">
    <div class="container-fluid text-center py-5">
        footer
    </div>
</div>