/*.container-fluid {
    max-width: 1380px;
}*/
.font-weight-normal {
    font-weight: normal;
}

.img-home {
    background-image: url(../../../assets/images/img-home.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 93vh;
}

.text-home {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 40vh;
}
.text-home p{
    text-shadow: 5px 2px 10px #000000;
}