<div class="img-home">
    <div class="text-home">
        <p class="display-5 font-weight-normal font-t" i18n>Ci sposiamo!</p>
        <p class="display-1 font-weight-normal py-2 py-md-4 font-t">Viola e Gabriele</p>
        <p class="h1 font-weight-normal font-t">17/07/22</p>
    </div>
</div>

<div class="pt-4 pt-xxxl-5 mt-lg-5">

  <div class="bg-foglieleft bg-light mt-xl-5">
    <div class="container-fluid">
      <div class="row align-items-center text-center my-5">
        <div class="col-12 col-lg-6 pt-5 pb-4 pb-lg-5 ">
            <p class="display-2 font-weight-normal font-t mt-md-3 pt-lg-2 mb-4 text-oro" i18n>Cerimonia</p>
            <p class="h4 mb-3 font-weight-normal" i18n>Pinacoteca Giuseppe Altana</p>
            <p class="font-weight-normal" i18n>Via Alcide De Gasperi 2, 17:00</p>
            <div class="d-flex justify-content-center align-items-center mt-4 my-lg-5">
              <google-map [center]="coordinates[0]" [height]="mapHeight" [width]="mapWidth" *ngIf="mapHeight && mapWidth">
                <map-marker [position]="coordinates[0]"></map-marker>
              </google-map>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center pb-4 pb-lg-0">
          <img #imgContainer src="../../../assets/images/pinacoteca.jpg" class="img-fluid my-md-3 my-lg-5" width="900" height="800">
        </div>
      </div>
    </div>
  </div>


<div class="bg-foglieright bg-light mt-5">
    <div class="container-fluid">
      <div class="row align-items-center text-center my-5">
          <div class="d-none d-lg-block col-md-6 pt-5 pb-4 pb-md-5 ">
            <img src="../../../assets/images/oleandri.jpg" class="img-fluid" width="900" height="800">
          </div>
          <div class="col-12 col-lg-6 pt-5 pb-lg-5 ">
            <p class="display-2 font-weight-normal font-t mt-md-3 pt-lg-2 mb-md-4 text-oro" i18n>Ricevimento</p>
            <p class="h4 font-weight-normal" i18n>Sala Ricevimenti Gli Oleandri</p>
            <p class="font-weight-normal" i18n>Regione manighedda SP1, 18:00</p>
            <div class="d-flex justify-content-center align-items-center mt-4 my-lg-5">
              <google-map [center]="coordinates[0]" [height]="mapHeight" [width]="mapWidth" *ngIf="mapHeight && mapWidth">
                <map-marker [position]="coordinates[0]"></map-marker>
              </google-map>
            </div>
        </div>
        <div class="col-12 d-lg-none d-flex justify-content-center align-items-center py-4 py-lg-0">
          <img src="../../../assets/images/oleandri.jpg" class="img-fluid" width="900" height="800">
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid text-center py-4 py-md-5 my-5">
    <p class="display-4 font-t mt-5 mb-4" i18n>Scopri come è iniziato tutto</p>
    <a routerLink="/story" class="btn btn-color px-5" i18n>La nostra storia</a>
    <br>
    <img src="../../../assets/images/foglie.png" class="img-fluid rotate-180 mt-4 mb-4" width="130" height="80">
</div>

<div class="bg-topleft25 bg-light">
  <div class="bg-bottomright30">
    <div class="container-fluid text-center ">
      <div class="p-lg-5 d-flex align-items-center justify-content-center" style="height:500px;">
          <div class="py-5">
              <p class="h4 font-weight-normal text-bluedark" i18n>Festeggia con noi!</p>
              <p class="display-2 font-weight-normal py-4 font-t text-blue" i18n>Conferma la tua presenza</p>
              <a routerLink="/invites" class="btn btn-color px-5" i18n>Conferma qui</a>
          </div>
      </div>
  </div>
</div>
</div>
</div>
