/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import "consts";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 16px;}

.font-t {font-family: Belleza, sans-serif;}

.bg-footer {
    background-color: $dark-blue;
    color: #ffffff;
}
.font-weight-normal {
    font-weight: 400;
}

/* sovrascrive boostrap */
.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.btn-color {
    background:  $dark-blue;
    border: 1px solid $dark-blue;
    color: #ffffff;
}
.btn-color:hover, .btn-color:focus {
    background: $dark-blue;
    border: 1px solid $dark-blue;
    //border: 1px solid #ec9736;
    color: #ffffff;
}
