/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Ephesis&family=Hurricane&family=Belleza&family=Lato:wght@300;400;700&display=swap');
@import "consts";

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$intervals: 20 !default;
$range : $large-screen - $small-screen !default;

$interval-size: $range / $intervals !default;



html, body { height: 100%; }
body {
  margin: 0;
  font-family: Lato, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.font-t {font-family: "Dancing+Script", "Ephesis", "Hurricane", "Belleza", sans-serif;}

.font-weight-normal {
    font-weight: 400;
}
.line-height-35 {
    line-height: 35px;
}

/* sovrascrive boostrap */
.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.btn-color {
    background:  $dark-blue;
    border: 1px solid $dark-blue;
    color: #ffffff;
}
.btn-color:hover, .btn-color:focus {
    background: $dark-blue;
    border: 1px solid $dark-blue;
    //border: 1px solid #ec9736;
    color: #ffffff;
}
.flow-text{
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}
a{
  text-decoration: none;
}
.text-oro {
  color: #b8a16f;
}
.hidden {
  visibility: hidden;
}

@media (min-width: 1600px) {
  body {
    font-size: 18px!important;
  }
}